boto==2.42.0
brotlipy==0.4.0
cffi==1.7.0
defusedxml==0.4.1
Django==1.10
django-allauth==0.26.1
django-filter==0.13.0
django-storages==1.5.0
djangorestframework==3.4.3
Markdown==2.6.6
oauthlib==1.1.2
psycopg2==2.6.2
pycparser==2.14
python3-openid==3.0.10
pytz==2016.6.1
requests==2.10.0
requests-oauthlib==0.6.2
whitenoise==3.2
