.the-site {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

.the-content {
  -ms-flex: 1;
      flex: 1;
}

.socketizer-dark {
  color: #001A27;
}

.bg-socketizer-dark {
  background-color: #001A27;
}

.socketizer-primary {
  color: #003049;
}

.bg-socketizer-primary {
  background-color: #003049;
}

.socketizer-light {
  color: #144763;
}

.bg-socketizer-light {
  background-color: #144763;
}

.socketizer-opposite {
  color: #d62828;
}

.bg-socketizer-opposite {
  background-color: #d62828;
}

.socketizer-opposite-light {
  color: #f77f00;
}

.bg-socketizer-opposite-light {
  background-color: #f77f00;
}

.socketizer-secondary {
  color: #eae2b7;
}

.bg-socketizer-secondary {
  background-color: #eae2b7;
}

.socketizer-w {
  color: #fff;
}

.socketizer-navbar-secondary a {
  color: #eae2b7;
}

.socketizer-navbar-secondary a:hover {
  color: #f77f00;
}

#viewportsize {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #000;
  color: white;
  padding: 5px;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler:focus {
  outline: none;
}

@media (max-width: 543px) {
  .navbar-toggleable-xs {
    clear: both;
  }
  .navbar-toggleable-xs .navbar-nav {
    float: none !important;
  }
  .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .navbar-toggleable-xs .navbar-nav .nav-item {
    float: none;
  }
}

@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
  .navbar-toggleable-sm .navbar-nav {
    float: none !important;
  }
  .navbar-toggleable-sm .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .navbar-toggleable-sm .navbar-nav .nav-item {
    float: none;
  }
}

@media (max-width: 991px) {
  .navbar-toggleable-md {
    clear: both;
  }
  .navbar-toggleable-md .navbar-nav {
    float: none !important;
  }
  .navbar-toggleable-md .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .navbar-toggleable-md .navbar-nav .nav-item {
    float: none;
  }
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav a {
  font-size: 1.1rem;
}

.jumbotron {
  border-radius: 0;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.socketizer-logo-circle {
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  padding: 20px;
  width: 7rem;
  height: auto;
}

.logo-text {
  margin-left: -9px;
  font-size: 70px;
  line-height: 100px;
  vertical-align: bottom;
}

.brand-logo {
  display: inline;
  vertical-align: middle;
  padding: 0;
  margin-right: 10px;
}

.brand-text {
  font-weight: bold;
}

.socketizer-brand-logo-circle {
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  padding: 5px;
  width: 45px;
  height: auto;
}

#bs-navbar-collapse-1 li a {
  padding-top: 11px;
  padding-bottom: auto;
}

#video {
  margin-top: -25px;
  height: 700px;
  background: url("../img/demo.gif") no-repeat center center;
}

#how-it-works {
  min-height: 500px;
  background: #003049;
  color: #fff;
}

#pricing {
  min-height: 600px;
}

footer {
  color: #003049;
}

footer a {
  color: #d62828;
}

footer a:hover {
  color: #f77f00;
}

.socketizer-b-r {
  transition: background-color 1.0s ease;
  background-color: #001A27;
}

.socketizer-r-b {
  transition: background-color 1.0s ease;
  background-color: #003049;
}

.socketizer-btn-primary {
  background-color: #003049;
  color: #eae2b7;
}

.socketizer-btn-primary:hover {
  background-color: #001A27;
  color: #eae2b7;
}

.socketizer-btn-opposite {
  background-color: #d62828;
  color: #eae2b7;
}

.socketizer-btn-opposite:hover {
  background-color: #d62828;
  color: #eae2b7;
}

.socketizer-btn-outline {
  border: 1px solid #eae2b7;
  background-color: transparent;
  color: #fff;
}

.socketizer-btn-outline:hover {
  border: 1px solid #eae2b7;
  background-color: #eae2b7;
  color: #003049;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}
