{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <h1>Settings</h1>
        <hr>
        <h2>Personal Details</h2>
        {{ user.get_username }}
        <h2>Domains</h2>
        {% if domains %}
            <a href="{% url 'domain-add' %}" title="add new domain">new domain</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>API Key</th>
                        <th>Max Concurrent Connections</th>
                        <th>Days Left</th>
                        <th>Edit</th>
                        <th>Regenerate API Key</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for domain in domains %}
                        <tr>
                            <td>
                                <pre>{{ domain.domain }}</pre>
                            </td>
                            <td>
                                <pre>{{ domain.api_key }}</pre>
                            </td>
                            <td>{{ domain.max_concurrent_connections }}</td>
                            <td>
                                {% if domain.free_key %}
                                    <span class="label label-success">FREE</span>
                                {% else %}
                                    {{ domain.days_left }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'domain-update' domain.pk %}">edit</a>
                            </td>
                            <td>
                                <a href="{% url 'domain-regenerate-key' domain.pk %}">regenerate
                                    key</a></td>
                            <td><a href="{% url 'domain-delete' domain.pk %}"
                                   id="delete"
                                    data-toggle="confirmation"
                                    data-title="Delete Domain?"
                                    data-singleton="true"
                                    data-popout="true">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            You don't have any associated domains, why don't you
            <a href="{% url 'domain-add' %}">add one</a>?
        {% endif %}
    </div>
{% endblock %}
