{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <h1>{% trans "Password Reset" %}</h1>
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <p class="card-text">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                            <form method="POST"
                                  action="{% url 'account_reset_password' %}"
                                  class="password_reset">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <label for="{{ form.email.id_for_label }}"
                                           class="col-xs-12 col-md-4 form-control-label">{% trans "E-mail" %}:</label>
                                    <div class="col-xs-12 col-md-8">
                                        <input type="email"
                                               autofocus="autofocus"
                                               class="form-control"
                                               name="{{ form.email.html_name }}"
                                               id="{{ form.email.id_for_label }}"
                                               placeholder="{% trans "E-mail address" %}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <button type="submit"
                                                class="btn socketizer-btn-primary form-control">{% trans 'Reset My Password' %}
                                            &raquo;</button>
                                    </div>
                                </div>
                            </form>
                            <p class="card-text">{% blocktrans %}Please contact
                                us if you have any trouble resetting your
                                password.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

