{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <h1>{% trans "Change Password" %}</h1>
                        </div>
                        <p class="card-text">{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

