{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <h1>{% trans "Social Network Login Failure" %}</h1>
                </div>
                <p class="card-text">{% trans "An error occurred while attempting to login via your social network account." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

