{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <h1>{% trans "Login Cancelled" %}</h1>
                </div>
                {% url 'account_login' as login_url %}

                <p class="card-text">{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

