{% extends "base.html" %}
{% load static %}
{% block prenav %}
    <div class="jumbotron jumbotron-fluid m-y-0 bg-socketizer-primary socketizer-secondary"
         id="prenav">
        <div class="container-fluid centered">
            <div class="m-b-2 hidden-sm-down"><img
                    src="{% static 'img/socketizer.svg' %}"
                    class="socketizer-logo-circle bg-socketizer-secondary">
                <span class="logo-text hidden-sm-down">ocketizer</span>
                <span class="label bg-socketizer-opposite"><strong>BETA</strong></span>
            </div>
            <div class="m-b-2 hidden-sm-up"><img
                    src="{% static 'img/socketizer.svg' %}"
                    class="socketizer-logo-circle bg-socketizer-secondary">
                <div class="logo-text">Socketizer</div>
                <span class="label bg-socketizer-opposite"><strong>BETA</strong></span>
            </div>
            <h1>Still waiting your visitors to refresh their page?</h1>
            <h2>Here is a quick and easy way to give life to your WordPress
                site</h2>
            <h3>(more platforms comming soon)</h3>
        </div>
        <div class="container-fluid  m-t-1">
            <p class="lead centered">
                Engage your visitors with realtime posts and instant
                discussions<br>
                No more <kbd
                    class="bg-socketizer-secondary socketizer-primary">F5</kbd>
                and refresh button spamming<br>
                Based on websockets technology our aim is
                to enable seamless realtime updates to your website's visitors
                <br>
                No coding skills required,
                install our plugin and you are
                ready to go!
            </p>
            <h2 class="socketizer-w centered"><strong>In BETA - Free
                Keys</strong>
            </h2>
            <p class="lead centered">
                Our service is currently in BETA, that means
                for now, we are giving free keys.
                <br>
                <a href="{% url 'account_signup' %}" class="socketizer-w">Create
                    an account and get your free access now!</a>
            </p>
            <p class="centered lead socketizer-w">
                Service status:
                {% if settings.service_is_active %}
                    <span class="text-success">service is active</span>
                {% else %}
                    <span class="socketizer-opposite">service is inactive</span>
                {% endif %}
                Server limits: <span
                    class="text-success">{{ settings.max_connection }} </span>
                Limits per domain:
                <span class="text-success">
                    {% if settings.max_concurrent_connections > -1 %}
                        {{ settings.max_concurrent_connections }}
                    {% else %}
                        No limits
                    {% endif %}
                 </span><br>
                Total clients connected until now: <span
                    class="text-success">{{ stats.total_clients }} </span>
                Total messages broacasted: <span
                    class="text-success">{{ stats.total_messages_broadcasted }} </span>
                Max concurrent clients ever: <span
                    class="text-success">{{ stats.max_concurrent_clients }} </span>
                Max concurrent domains ever: <span
                    class="text-success">{{ stats.max_concurrent_domains }} </span>
            </p>
            <p class="centered lead socketizer-w" id="poolInfo">
            </p>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section id="features">
        <div class="container-fluid">
            <h2 class="centered socketizer-dark m-y-1">Features</h2>

            <div class="row m-b-1">
                <div class="col-xs-12 col-lg-6">
                    <h3>Posts & Comments</h3>
                    <p class="lead">Your site visitors will be updated when a
                        new post or comment has been posted or when an existing
                        one gets
                        edited while they are browsing the respective page.</p>
                    <h3>bbPress Topics</h3>
                    <p class="lead">Your site visitors will be updated when a
                        new forum topic has been posted or when an existing
                        one gets
                        edited.</p>
                    <h3>bbPress Replies</h3>
                    <p class="lead">Your site visitors will be updated when a
                        new reply for a topic has been posted or when an
                        existing one
                        gets edited.</p>
                    <h3>WooCommerce</h3>
                    <p class="lead">Your site visitors will be updated when a
                        the stock of a product changes while they are browsing
                        the product's page.
                    </p>
                </div>
                <div class="col-xs-12 col-lg-6 p-x-0">
                    <div class="embed-responsive embed-responsive-16by9 col-xs-12 centered">
                        <iframe id="ytplayer" type="text/html"
                                class="embed-responsive-item"
                                src="https://youtube.com/embed/L5XTvekMVYo?autoplay=1&loop=1&fs=1&origin=https://socketizer.com&modestbranding=1&hl=en&rel=0&showinfo=0playlist=L5XTvekMVYo"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works">
        <div class="container">
            <div class="row socketizer-secondary p-t-3" id="how">
                <h2 class="centered">No buzz words, no complex things</h2>
                <div class="col-xs-12 col-lg-6 lead p-t-1">
                    <h3>Four steps</h3>
                    <ol class="p-t-1">
                        <li>
                            <a href="https://wordpress.org/plugins/socketizer/"
                               target="_blank">
                                Install our WordPress plugin</a></li>
                        <li><a href="{% url 'account_signup' %}">Create an
                            account</a></li>
                        <li>Get your key</li>
                        <li>Paste your key in plugin's settings</li>
                    </ol>
                    <p>Thats it,
                        You are already up and running realtime.
                    </p>
                </div>
                <div class="col-xs-12 col-lg-6 lead  p-t-1">
                    <h3>Details</h3>
                    <ul class="p-t-1">
                        <li>You call our service (through our plugin) and we
                            update your visitors
                        </li>
                        <li>Each visitor counts towards max concurent
                            visitors.
                        </li>
                        <li>If visitors exceed max concurrent visitors, we
                            simply
                            do not accept more, the service continues to work
                            for those
                            already connected.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 p-b-1">
                    <img src="{% static 'img/service-overview.png' %}"
                         class="img-fluid img-rounded service-overview"
                         alt="service overview">
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">
        <div class="container">
            <div class="row m-t-2 p-x-0">

                <h2 class="centered socketizer-dark m-y-1">Simple
                    Pricing</h2>

                <div class="col-xs-12 col-lg-6">
                    <div class="card">
                        <div class="card-header bg-socketizer-primary socketizer-secondary card-title centered">
                            Montly Plan
                        </div>
                        <div class="card-block">
                            <h4 class="card-title centered">$1 +
                                $0.1/Concurrent visitor</h4>
                            <p class="card-text lead centered">Pay for what you
                                need.
                            </p>
                            <p class="card-text text-justify">
                                Each month you will be charged $1 plus
                                $0.1 for each concurrent visitor.
                                If you exceed the limit, your website continues
                                to function normally. No service disruption,
                                your visitors will not notice a thing.
                                <span tabindex="0" data-trigger="focus"
                                      class="socketizer-light tt"
                                      data-container="body"
                                      data-toggle="tooltip"
                                      data-placement="top"
                                      title="Your plan is for 20 concurrent visitors. Your site has currently 30 visitors, 20 of them
                                    will enjoy real time updates. The rest 10 will have a classic experience and will have to refresh their browser
                                    to get any updates.">read more</span>
                            </p>
                            <hr>
                            <h5>Example:</h5>
                            <p class="card-text">
                                For 50 concurrent visitors, you pay:<br> 50 x
                                $0.1 +
                                $1 = <strong>$6/Month</strong>*
                            </p>
                            <p class="card-text">
                                Each plan is for one domain
                            </p>
                            <p class="card-text">
                                <i>*Plus taxes</i>
                            </p>
                            <hr>
                            <div class="centered">
                                <a href="{% url 'account_signup' %}"
                                   class="btn socketizer-btn-primary">
                                    Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="card">
                        <div class="card-header bg-socketizer-dark socketizer-secondary card-title centered">
                            Calculator
                        </div>
                        <div class="card-block">
                            <h4 class="card-title centered">Calculate Your
                                Requirements</h4>
                            <div class="card-text">
                                <div class="row">
                                    <label for="concurrentVisitors"
                                           class="col-xs-12 col-md-8 form-control-label">
                                        How many concurrent visitors?
                                    </label>
                                    <div class="col-xs-12 col-md-4">
                                        <input type="number"
                                               id="concurrentVisitors" min="1"
                                               step="1"
                                               class="form-control"
                                               value="0">
                                    </div>
                                </div>
                                <div class="row m-t-1">
                                    <div class="col-xs-12">
                                        You pay $1 + (0.1 * <span
                                            id="users">0</span>) = $<span
                                            id="price">0</span> per
                                        month*
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <i>*Prices are tax exclusive.</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row socketizer-secondary m-t-2 p-x-0">

                <h2 class="centered  p-t-3">Contact</h2>

                <div class="col-xs-12 lead centered">
                    <p>For issues or questions we use <a
                            href="https://github.com/stef-k/socketizer-wordpress/issues"
                            target="_blank">GitHub.com</a>
                        and support the forum at
                        <a href="https://wordpress.org/plugins/socketizer/"
                           target="_blank">WordPress.org</a></p>
                    <p>Additionally, you can contact us to <img
                            src="{% static 'img/contact.svg' %}"
                            alt="contact us"></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

